@import "~bootstrap/scss/bootstrap";
@import "home.css";
@import "dignity.css";
@import "instruction.css";
@import "product.css";
@import "price.css";
@import "interested.css";
@import "results.css";
@import "presentation.css";
@import "footer.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;700;800;900&display=swap');

body {
  margin: 50px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #f3f8f5;
   transition: all 0.3s ease 0s;
}

html {
    scroll-behavior: smooth;
}
.main {
    min-height: 1300px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1CAF4B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
    text-decoration: none;
    cursor: pointer;
}
input,textarea {
    background: none;
    border: none;
    outline: none;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
ol,
ul {
    margin-top: 0;
    margin-bottom: 0rem;
    padding-left: 0rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1;
}

.bold-txt {
  font-weight: 700;
}

.semi-bold-txt {
  font-weight: 600;
}

.medium-txt {
  font-weight: 500;
}

.regular-txt {
  font-weight: 400;
}

.light-txt {
  font-weight: 300;
}

.thin-txt {
  font-weight: 100;
}

img {
    max-width: 100%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .4s ease;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.btn-check:focus + .btn,
.btn:focus {
    box-shadow: none;
}

ul {
    list-style-type: none;
}

.stars__right {
  display: flex;
  align-items: end;
  justify-content: end;
  padding-top: 100px;
  width: 100%;
}

.stars__left {
  display: flex;
  align-items: start;
  justify-content: start;
  padding-top: 16px;
  width: 100%;
}

.block {
  background-color: white;
  border-radius: 24px;
}

.green-block {
  background: linear-gradient(248.76deg, rgba(248, 255, 122, 0.504) -8.3%, rgba(109, 232, 201, 0.512) -0.74%, rgba(31, 216, 38, 0.512) 81.76%, rgba(248, 255, 122, 0.576) 117.86%);
  border-radius: 24px;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1400px;
  }
}

@media only screen and (max-width: 768px) { 
  .stars__right {
    display: none;
  }

  .stars__left {
    display: none;
  }
}

@media only screen and (max-width: 475px) {
  .container {
    max-width: 95%;
  }
}
